<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form action="/sign-up" method="post" id="signupForm">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="fullname" required>
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="fullname" required>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Sign Up</button>
    </form>
    <script>
        const signupUser = async (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);
            const fullname = formData.get("firstname") + " " + formData.get("lastname");
            const email = formData.get("email");
            const password = formData.get("password");

            const response = await fetch("/sign-up", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ fullname, email, password }),
            });

            const data = await response.json();

            if (data.action === "signupUser") {
                console.log("Handling signup response.");
                localStorage.setItem("token", data.token);
            }

            const token = localStorage.getItem("token");
            const reponse2 = await fetch("/profile", {
                headers: {
                    "Authorization": `Bearer ${token}`,
                },
            });
        };

        document.querySelector("form").addEventListener("submit", signupUser);
    </script>
</body>

</html>