:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #141414;
  background-color: #fafafa;
  --black: #141414;
  --white: #fafafa;
  --dark-gray: #111;
  --gray: #888888;
  --medium-gray: #d4d4d4;
  --navy: #001122;
  --light-navy: #012040;
  --light-gray: #ebebeb;
  --white-smoke: #f5f5f578;
  --ghost-white: #f8f8ff;
  --pearl: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--gray);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--navy);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--light-navy);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
input {
  width: 75%;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--navy);
  border-radius: 10px;
  color: var(--navy);
  padding: 10px;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*NavBar*/
.navbar {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  height: 65px;
  padding: 15px 20px 15px 20px;
  gap: 20px;
}
.welcome-nav {
  background-color: var(--navy);
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 45px;
}
.navbar-logo-header-1 {
  font-size: 40px;
  color: var(--white);
}
.navbar-logo-header-2 {
  font-size: 26px;
  color: var(--navy);
}
.navbar-logo img {
  width: 48px;
  height: 48px;
}
.navbar-filler {
  width: fit-content;
}
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  font-size: 17px;
  height: 45px;
  padding-bottom: 2px;
  color: var(--white);
}
.navbar-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  background-color: var(--light-gray);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px var(--gray);
  padding: 0px 10px 0px 10px;
}
.navbar-search input:focus {
  outline: none;
}
.search-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.search-input {
  border: none;
  width: 80%;
  padding: 0;
}
.navbar-icon {
  width: 25px;
  height: 25px;
}
.dashboard-nav {
  display: flex;
  justify-content: space-between;
}
.search-icon, .cancel-icon{
  width: 20px;
  height: 20px;
}

/*Landing Page*/
.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
/*hero-section*/
.landing-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1060px;
  height: 620px;
  max-width: 100%;
}
.landing-hero h1 {
  font-size: 50px;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
  width: 50%;
  height: 100%;
}
.hero-tagline {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 230px;
}
.landing-hero img {
  width: 50%;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.primary-btn {
  min-width: 150px;
  min-height: 40px;
  background-color: var(--navy);
  color: var(--white);
  box-shadow: 0px 2px 5px var(--gray);
}
.secondary-btn {
  min-width: 150px;
  min-height: 40px;
  background-color: transparent;
  color: var(--navy);
  border: 1px solid var(--navy);
}
.tertiary-btn {
  min-width: 150px;
  min-height: 40px;
  background: var(--light-gray);
  color: var(--navy);
}
.primary-btn:hover {
  background-color: var(--light-navy);
}
.secondary-btn:hover {
  background-color: var(--navy);
  color: var(--white);
}
.tertiary-btn:hover {
  text-decoration: underline;
  color: var(--black);
  border: 1px solid transparent;
}
.search-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 40px;
  transition: background-color 0.2s ease;
}
.search-btn:hover {
  background-color: var(--medium-gray); /* or whatever suits your theme */
}
/*features section*/
.landing-features {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  padding: 40px;
}
.feature-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 599px;
  height: 240px;
}
.feature img {
  width: 320px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
/*pivot section*/
.landing-pivot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 40px;
  background-color: var(--light-gray);
}
.pivot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 50px 40px 50px 40px;
  height: 265px;
  color: var(--black);
}
.about {
  width: 1120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.social-media img {
  width: 60px;
  height: 60px;
}

/*Auth Pages*/
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--navy);
  gap: 20px;
  padding: 20px;
}
.auth-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 550px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
}
.auth-form img {
  width: 25px;
  height: 25px;
}
.cancel-btn{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0px;
}
.cancel-btn:hover {
  background-color: var(--light-gray);
  color: var(--black);
}
.auth-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.auth-div-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auth-notification{
  width: 70%;
  border-radius: 5px;
  color: rgb(229, 62, 62);
  text-align: center;
}

/*Loading Spinner*/
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 3px solid var(--white);
  border-top-color: var(--navy);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  padding: 5px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*Skeleton Page*/
.skeleton{
  background-color: rgb(0 0 0 / 40%);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skeleton-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 65px;
  gap: 20px;
  background-color: var(--gray);
  padding: 20px;
}
.skeleton-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.skeleton-body{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 65px);
  padding: 5px;
}
.skeleton-content{
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  border-radius: 10px;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

/*DASHBOARD PAGE*/
.dashboard-page, .error-page {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.dashboard-body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 65px);
  padding: 5px;
}
.sidebar-container, .skeleton-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  height: 100%;
  padding: 20px;
}
.sidebar-items {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.sidebar-items button {
  background-color: transparent;
  color: inherit;
  border-radius: 20px;
  width: 200px;
}
.sidebar-item.sidebar-active {
  background-color: var(--light-gray);
  color: var(--navy);
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-icon {
  width: 25px;
  height: 25px;
}
.dashboard-content {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  min-width: 600px;
  height: 100%;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--pearl);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--pearl);
}
.dashboard-content::-webkit-scrollbar {
  width: 8px; /* vertical */
  height: 8px; /* horizontal */
}
.dashboard-content::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 4px;
}
.dashboard-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gray);
}
.dashboard-content::-webkit-scrollbar-track {
  background: var(--pearl);
}
.dashboard-content h2 {
  font-size: 25px;
  padding-left: 15px;
}
table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
thead th:nth-child(1) {
  width: 15%;
}
thead th:nth-child(2) {
  width: 15%;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 15%;
}
thead th:nth-child(5) {
  width: 20%;
}
th,
td {
  padding: 15px;
}
div span {
  font-size: 17px;
}
.sidebar-footer input {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar-footer input::file-selector-button {
  background-color: var(--navy);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 15px;
}
.sidebar-storage {
  width: 100%;
  text-align: center;
}
.dashboard-section {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
}
.dashboard-section h2 {
  padding-left: 0px;
}
.subsection-options{
  display: flex;
  justify-content: space-between;
}
.progress-root {
  position: relative;
  height: 0.5rem; /* 8px */
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: var(--light-gray); /* if you're using CSS variables */
}
.progress-indicator {
  height: 100%;
  width: 100%;
  background-color: var(--navy); /* or any solid primary */
  transition: all 0.2s ease;
  transform-origin: left; /* optional for better animation */
}
.toast-notification {
  position: fixed;
  bottom: 20px;
  right: -100px;
  transform: translateX(-50%);
  min-width: 300px;
  max-width: 90%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  color: var(--light-gray);
}
.toast-title {
  font-weight: bold;
  margin-bottom: 4px;
}
.toast-notification.success {
  background-color: rgb(1, 32, 64, 0.8);  
}
.toast-notification.error {
  background-color: rgb(229, 62, 62, 0.8);  
}
.toast-notification.warning {
  background-color: rgb(236, 201, 75, 0.8);  
  color: var(--dark-gray);
}
/*UserProfile*/
.user-avatar-container {
  position: relative;
  display: inline-block;
}
.avatar-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 9999px;
  transition: background 0.2s ease;
}
.avatar-button:hover {
  background-color: var(--medium-gray);
}
.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
}
.avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: var(--light-gray);
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 380px;
  padding: 8px 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.profile-info {
  padding: 8px 16px;
}
.profile-name {
  display: block;
  font-weight: 600;
  font-size: 14px;
}
.profile-email {
  display: block;
  font-size: 12px;
  color: #777;
  margin-top: 2px;
}
.divider {
  margin: 8px 0;
  border: none;
  height: 1px;
  background-color: #eee;
}
.dropdown-item {
  width: 50%;
  padding: 10px 16px;
  background: var(--navy);
  border: none;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.dropdown-item:hover {
  background-color: var(--light-gray);
  color: var(--black);
}
.settings-options{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*Switch Component*/
/* Switch Root */
.switch {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  height: 20px;
  width: fit-content;
  border: 2px solid transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid var(--light-navy);
}
/* Focus states */
.switch:focus {
  outline: none;
}
/* Disabled state */
.switch:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* Checked state */
.switch[data-state="checked"] {
  background-color: var(navy); /* Your primary color */
}
/* Unchecked state */
.switch[data-state="unchecked"] {
  background-color: var(--white); /* Your input color */
}
/* Switch Thumb */
.switch-thumb {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 150ms ease;
  transform: translateX(2px);
  will-change: transform;
}
/* Thumb positions */
.switch-thumb[data-state="checked"] {
  transform: translateX(16px);
}
.switch-thumb[data-state="unchecked"] {
  transform: translateX(-16px);
  background-color: var(--light-navy);
}
.storage-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
/*Error Page*/
.error-page{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: var(--light-gray);
}
.error-page h1{
  font-size: 200px;
  color: var(--navy);
}
.error-page h2{
  font-size: 40px;
  color: var(--navy);
  text-align: center;
}
.no-section, .error-boundary{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-section h1{
  font-size: 40px;
}
.no-section h2{
  font-size: 20px;
}
.no-section button{
  width: 150px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
